body{
  
  width : 100%;
  
}


#movingButton{
    margin-left: auto;
    position: absolute;
	padding: 13px 30px;
	display: block;
    margin-right: auto;
	background-color: #008CBA;
}

footer{
	margin-left:1800px;
	margin-top:30%;
}