   .input {
    background:white;
	margin-top:10px;
	margin-bottom:10px;
   }
   .button {
   border-radius: 10px;
   }
   label {
    margin:10px;
    display: block;
    width: 200px;
    float: left;
   }
   br {
    clear: left;
   }